In [15]:
import numpy as np
import pandas as pd
import altair as alt
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import geopandas as gpd
import json


# need to pip install pyproj
from pyproj import Proj
#alt.renderers.enable('notebook')
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [36]:
geo_json_file_loc= 'Data/local-area-boundary.geojson'

# open and extract geo json cmponents
def open_geojson():
    with open(geo_json_file_loc) as json_data:
        d = json.load(json_data)
    return d

def get_gpd_df():
    vancouver_json = open_geojson()
    gdf = gpd.GeoDataFrame.from_features((vancouver_json))
    return gdf

gdf = get_gpd_df()

# Import crimes dataset 
df = pd.read_csv("Data/crimedata_csv_all_years.csv")

# Data Wrangling
df = df[["NEIGHBOURHOOD", "YEAR", "MONTH", "DAY", "HOUR", "MINUTE", "TYPE"]]

   NEIGHBOURHOOD  YEAR  MONTH  DAY  HOUR  MINUTE                        TYPE
0       Oakridge  2012     12   14     8      52  Break and Enter Commercial
1       Fairview  2019      3    7     2       6  Break and Enter Commercial
2       West End  2019      8   27     4      12  Break and Enter Commercial
3       West End  2014      8    8     5      13  Break and Enter Commercial
4       West End  2005     11   14     3       9  Break and Enter Commercial
5       West End  2006      5   21     4      50  Break and Enter Commercial
6       West End  2009      7    1     0      35  Break and Enter Commercial
7       West End  2013      6    1    20       0  Break and Enter Commercial
8       West End  2014      4   17     5      50  Break and Enter Commercial
9       West End  2014      9    1    14      20  Break and Enter Commercial
10      West End  2017     11   14    20       0  Break and Enter Commercial
11      West End  2018      3    2     6      17  Break and Enter Commercial
12      West End  2005      2    8    18       0  Break and Enter Commercial
13      West End  2006      4   28    15       0  Break and Enter Commercial
14      West End  2007      3   13    16      38  Break and Enter Commercial
15      West End  2007      5   15     0       1  Break and Enter Commercial
16      West End  2010      2    8    11       4  Break and Enter Commercial
17      West End  2013     11    6    23       0  Break and Enter Commercial
18      West End  2014     11   22    23      28  Break and Enter Commercial
19      West End  2003      9   26     2      30  Break and Enter Commercial
20      West End  2004      1   24     0       1  Break and Enter Commercial
21      West End  2009     10   25     8      41  Break and Enter Commercial
22      West End  2011     11   15     1      57  Break and Enter Commercial
23      West End  2013      7   18    19       1  Break and Enter Commercial
24      West End  2015      2    4    20      53  Break and Enter Commercial
25      West End  2016      2   16     4      41  Break and Enter Commercial
26      West End  2014      3    1    19      20  Break and Enter Commercial
27      West End  2004      1   24     0       1  Break and Enter Commercial
28      West End  2007      2   26    22      30  Break and Enter Commercial
29      West End  2011      7   27    22       0  Break and Enter Commercial
30      West End  2011      7   29    22       0  Break and Enter Commercial
31      West End  2015      3   24    21       0  Break and Enter Commercial
32      West End  2008     10   28     6      43  Break and Enter Commercial
33      West End  2011      2    9     4      47  Break and Enter Commercial
34      West End  2007      5    6     3       0  Break and Enter Commercial
35      West End  2015      7    3     2       0  Break and Enter Commercial
36      West End  2009      3   10     6      30  Break and Enter Commercial
37      West End  2008      4    2     4       0  Break and Enter Commercial
38      West End  2018      6   16    18       0  Break and Enter Commercial
39      West End  2004      6   14    13       0  Break and Enter Commercial
40      West End  2016      9   17     3       0  Break and Enter Commercial
41      West End  2007      5    6    18       0  Break and Enter Commercial
42      West End  2004      6   12    11      25  Break and Enter Commercial
43      West End  2004      7   27     4       0  Break and Enter Commercial
44      West End  2006      2    3     6      21  Break and Enter Commercial
45      West End  2006     11    5    19       0  Break and Enter Commercial
46      West End  2006     12   31     3      54  Break and Enter Commercial
47      West End  2007      1   16     4      48  Break and Enter Commercial
48      West End  2007     10   29     2      57  Break and Enter Commercial
49      West End  2008      7    2     5       5  Break and Enter Commercial

In [46]:
gdf.query('name=="West End"')

,geometry,mapid,name,geo_point_2d
9,"POLYGON ((-123.13768 49.27532, -123.14126 49.2...",WE,West End,"[49.2850111894, -123.135437653]"

,geometry,mapid,name,geo_point_2d
0,"POLYGON ((-123.15260 49.25723, -123.16488 49.2...",AR,Arbutus-Ridge,"[49.2468049108, -123.161669238]"
1,"POLYGON ((-123.11227 49.29016, -123.10424 49.2...",CBD,Downtown,"[49.2807470711, -123.116567008]"
2,"POLYGON ((-123.14599 49.25712, -123.14540 49.2...",FAIR,Fairview,"[49.2645404871, -123.131048865]"
3,"POLYGON ((-123.07702 49.29025, -123.06778 49.2...",GW,Grandview-Woodland,"[49.2764396102, -123.066728221]"
4,"POLYGON ((-123.05649 49.29349, -123.05190 49.2...",HS,Hastings-Sunrise,"[49.277934053, -123.040269923]"

In [21]:
mydata = pd.read_csv('Data/crimedata_csv_all_years.csv')
mydata.head()
print(mydata['TYPE'].value_counts())
print(mydata['NEIGHBOURHOOD'].value_counts())
print(mydata['YEAR'].value_counts())
mydata.info()

Theft from Vehicle                                        208877
Mischief                                                   83714
Break and Enter Residential/Other                          66266
Other Theft                                                64364
Offence Against a Person                                   61931
Theft of Vehicle                                           41462
Break and Enter Commercial                                 38807
Theft of Bicycle                                           31016
Vehicle Collision or Pedestrian Struck (with Injury)       25242
Vehicle Collision or Pedestrian Struck (with Fatality)       290
Homicide                                                     252
Name: TYPE, dtype: int64
Central Business District    136931
West End                      48597
Fairview                      36629
Mount Pleasant                36252
Grandview-Woodland            31535
Renfrew-Collingwood           31018
Kitsilano                     30580
Kensington-Cedar Cottage      28350
Strathcona                    25698
Hastings-Sunrise              21216
Sunset                        19656
Marpole                       15105
Riley Park                    14608
Victoria-Fraserview           12289
Killarney                     11824
Oakridge                       9260
Dunbar-Southlands              8781
Kerrisdale                     8455
Arbutus Ridge                  6808
West Point Grey                6746
Shaughnessy                    6310
South Cambie                   6024
Stanley Park                   4169
Musqueam                        571
Name: NEIGHBOURHOOD, dtype: int64
2003    49984
2004    49310
2005    44673
2006    42324
2018    38088
2016    37864
2007    37685
2017    36994
2008    35423
2015    34360
2019    34047
2014    32666
2009    32173
2010    29701
2012    29246
2013    29097
2011    28586
Name: YEAR, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622221 entries, 0 to 622220
Data columns (total 10 columns):
TYPE             622221 non-null object
YEAR             622221 non-null int64
MONTH            622221 non-null int64
DAY              622221 non-null int64
HOUR             622221 non-null int64
MINUTE           622221 non-null int64
HUNDRED_BLOCK    622208 non-null object
NEIGHBOURHOOD    557412 non-null object
X                622102 non-null float64
Y                622102 non-null float64
dtypes: float64(2), int64(5), object(3)
memory usage: 47.5+ MB

In [11]:
mydata.NEIGHBOURHOOD.unique()

array(['Oakridge', 'Fairview', 'West End', 'Central Business District',
       'Hastings-Sunrise', 'Strathcona', 'Grandview-Woodland',
       'Kitsilano', 'Kensington-Cedar Cottage', 'Sunset',
       'Mount Pleasant', 'Stanley Park', 'Shaughnessy', 'Marpole',
       'West Point Grey', 'Victoria-Fraserview', 'Kerrisdale',
       'Riley Park', 'Arbutus Ridge', 'Renfrew-Collingwood', 'Killarney',
       'Dunbar-Southlands', 'South Cambie', 'Musqueam', nan], dtype=object)

In [6]:
mydata.head()

,TYPE,YEAR,MONTH,HOUR,NEIGHBOURHOOD,X,Y,Lon,Lat
0,Break and Enter Commercial,2012,12,8,Oakridge,491285.000000,5.453433e+06,-123.119712,49.233614
1,Break and Enter Commercial,2019,3,2,Fairview,490612.964805,5.457110e+06,-123.129029,49.266678
2,Break and Enter Commercial,2019,8,4,West End,491007.779775,5.459174e+06,-123.123649,49.285255
3,Break and Enter Commercial,2014,8,5,West End,491015.943352,5.459166e+06,-123.123536,49.285181
4,Break and Enter Commercial,2005,11,3,West End,491021.385727,5.459161e+06,-123.123461,49.285132